*{
    font-family: 'Space Mono', monospace!important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}


li {
    list-style-type: none !important;

}
ul{
    padding: 0!important;
}
h1, h2, h3, h4, h5, h6 {
    text-align: justify;
    font-weight: lighter;
    line-height: 2;

}

p {
    margin: 0.5rem 0;
    text-align: justify;
    line-height: 2;
}

a {
    text-decoration: none;
    cursor: pointer;
    line-height: 2;

}
.color-1{
    color: #333 !important;
}
a:hover {

}
body{
    background-color: rgba(214,202,148,0.84);
}
h1{
    font-size: 5rem;
}
.score-table{
    padding: 0.5rem 0.9rem;
    background-color:rgba(157,130,84,0.84) ;
    color: white;
    border-radius: 10px;
}
.button{
    background: white;
    border: 1px solid rgba(157,130,84,0.84);
}
.button span{
    display: inline-block;
    padding: 0.5rem 1rem;
    color: white;
    transition: all 150ms linear;
    z-index: 9999;
    background: rgba(157,130,84,1);

}
.button:hover span{
    transform: translate(-5px,-5px);
}
.grid-container{
    border:8px solid rgba(157,130,84,0.84);
    border-radius: 7px;
}
.grid-column{
    width: 25%;
    height: 118px;
    background: rgba(157,130,84,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 4rem;
}
.grid-row{
    padding: 0.6rem;
    display: flex;
    gap:0.3rem
}
.item{
    width: 123px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 4rem;
    position: absolute;
}
.ani-scale{
    animation:appear 150ms ease  ;
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.5;
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.item-2{
    background-color: rgba(142,147,157,1) !important;
}
.item-4{
    background-color: rgba(120,157,100,1) !important;
}
.item-8{
    background-color: rgba(75,157,147,1);
}
.item-16{
    background-color: rgba(140,101,157,1);
}
.item-32{
    background-color: rgba(157,91,56,1);
}
.item-64{
    background-color: rgba(131,157,46,1);
}
.item-128{
    background-color: rgba(3,109,157,1);
    color: white!important;
}
.item-256{
    background-color: rgba(157,81,131,1);
    color: white!important;
    font-size: 3rem!important;

}
.item-512{
    background-color: rgba(157,25,10,1);
    color: white!important;
    font-size: 3rem!important;

}
.item-1024{
    background-color: rgba(130,86,157,1) !important;
    color: white!important;
    font-size: 3rem!important;
}
.item-2048{
    background-color:rgba(144,157,46,0.84) !important;
    color: black!important;
    font-size: 3rem!important;
}

.position-1-1{
    transform: translate(19px,18px);
}

.position-1-2{
    transform: translate(147px,18px);
}

.position-1-3{
    transform: translate(275px,18px);
}

.position-1-4{
    transform: translate(403px,18px);
}

.position-2-1{
    transform: translate(19px,160px);
}

.position-2-2{
    transform: translate(147px,160px);
}
.position-2-3{
    transform: translate(275px,160px);
}
.position-2-4{
    transform: translate(403px,160px);
}

.position-3-1{
    transform: translate(19px,300px);
}
.position-3-2{
    transform: translate(147px,300px);
}
.position-3-3{
    transform: translate(275px,300px);
}
.position-3-4{
    transform: translate(403px,300px);
}



.position-4-1{
    transform: translate(19px,440px);
}
.position-4-2{
    transform: translate(147px,440px);
}
.position-4-3{
    transform: translate(275px,440px);
}
.position-4-4{
     transform: translate(403px,440px);
 }
.grid-container,.item-container,.win-status{
    width: 546px;
    height: 577px;
}
.win-status{
    background-color:rgba(142,147,157,0.4) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms linear ;
    opacity: 0;
    visibility: hidden;
}
.win-status.show{
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .item{
        width: 115px;
    }


    .position-1-1{
        transform: translate(34px,18px);
    }

    .position-1-2{
        transform: translate(155px,18px);
    }
    .position-1-4{
        transform: translate(397px,18px);
    }

    .position-2-1{
        transform: translate(34px,160px);
    }

    .position-2-2{
        transform: translate(155px,160px);
    }
    .position-2-3{
        transform: translate(275px,160px);
    }
    .position-2-4{
        transform: translate(396px,160px);
    }


    .position-3-1{
        transform: translate(34px,300px);
    }
    .position-3-2{
        transform: translate(155px,300px);
    }
    .position-3-3{
        transform: translate(275px,300px);
    }
    .position-3-4{
        transform: translate(396px,300px);
    }

    .position-4-1{
        transform: translate(34px,440px);
    }
    .position-4-2{
        transform: translate(155px,440px);
    }
    .position-4-3{
        transform: translate(275px,440px);
    }
    .position-4-4{
        transform: translate(396px,440px);
    }

    
}
p{
    font-size: 1.2rem;
}
@media (max-width: 580px) {
    .grid-column{
        margin: auto 0.2rem!important;
    }
    p{
        font-size: 0.8rem!important;
    }
    h1{
        font-size:3rem!important;
    }
    h6{
        font-size: 0.8rem!important;
    }
    .grid-container,.item-container,.win-status{
        width: 345px;
        height: 370px;
    }
    .grid-row{
        justify-content: space-between;
    }
    .grid-column{
        width: 100%;
        height: 67px;
    }
    .item{
        width: 68px!important;
        height: 67px;
    }
    .inner{
        font-size: 2rem!important;
    }



    .position-1-1{
        transform: translate(19px,18px);
    }

    .position-1-2{
        transform: translate(98px,18px);
    }
    .position-1-3{
        transform: translate(177px,18px);
    }
    .position-1-4 {
        transform: translate(256px,18px);
    }


    .position-2-1{
        transform: translate(19px,103px);
    }

    .position-2-2{
        transform: translate(97px,103px);
    }
    .position-2-3{
        transform: translate(177px,103px);
    }
    .position-2-4{
        transform: translate(256px,103px);
    }



    .position-3-1{
        transform: translate(19px,190px);
    }
    .position-3-2{
        transform: translate(97px,190px);
    }
    .position-3-3{
        transform: translate(177px,190px);
    }
    .position-3-4{
        transform: translate(256px,190px);
    }


    .position-4-1{
        transform: translate(19px,276px);
    }
    .position-4-2{
        transform: translate(97px,276px);
    }
    .position-4-3{
        transform: translate(177px,276px);
    }
    .position-4-4{
        transform: translate(256px,276px);
    }
}
